<!DOCTYPE html>
<html lang="en">

<th:block th:include="fragments/head :: head"></th:block>

<body>

    <div class="d-flex" id="wrapper">

        <th:block th:include="fragments/sidebar :: sidebar"></th:block>

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <th:block th:include="fragments/navbar :: navbar"></th:block>

            <div class="container">

                <div class="form">

                    <form class="well form-horizontal" action="#" th:action="@{/empleado/create}" th:object="${empleado}"
                    method="post" id="contact_form">
                    <fieldset>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Nombre</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div style="width: 300%;" class="input-group">
                                    <input name="nombre" placeholder="Nombre" class="form-control" type="text"
                                        th:field="*{nombre}">
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Apellido</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div style="width: 300%;" class="input-group">
                                    <input name="apellido" placeholder="Apellido" class="form-control" type="text"
                                        th:field="*{apellido}">
                                </div>
                            </div>
                        </div>



                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">DNI</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div style="width: 300%;" class="input-group">
                                    <input name="dni" placeholder="Dni" class="form-control" type="text" th:field="*{dni}">
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Fecha de Nacimiento</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div style="width: 300%;" class="input-group">
                                    <input name="fecha_nacimiento" class="form-control" type="date"
                                        th:field="*{fechaNacimiento}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Local</label>
                            <div class="col-md-4 selectContainer">
                                <div style="width: 300%;" class="input-group">
                                    <select name="local" class="form-control selectpicker" th:field="*{idLocal}">
                                        <option value="0"> -- </option>
                                        <option th:each="local : ${locales}" th:value="${local.idLocal}"
                                            th:text="${local.direccion}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Franja Horaria</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div style="width: 300%;" class="input-group">
                                    <input name="franja_horaria" class="form-control" type="text"
                                        th:field="*{franjaHoraria}">
                                </div>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-4"><br>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button
                                    type="submit"
                                    class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCREAR&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
                </div>
            </div>
        </div><!-- /.container -->

    </div>
    <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <th:block th:include="fragments/bottom :: bottom"></th:block>

</body>

</html>