<!DOCTYPE html>
<html lang="en">

<th:block th:include="fragments/head :: head"></th:block>

<body>
    <div class="d-flex" id="wrapper">

        <th:block th:include="fragments/sidebar_empleados :: sidebar_empleados"></th:block>

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <th:block th:include="fragments/navbar :: navbar"></th:block>

            <div class="container">

                <form class="well form-horizontal" action="#" th:action="@{/empleado/update}" th:object="${empleado}"
                    method="post" id="contact_form">
                    <fieldset>
                        <div class="form_group">
                            <input type="hidden" th:field="*{idPersona}" />
                        </div>
                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Nombre</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="nombre" class="form-control" type="text" th:field="*{nombre}">
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Apellido</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="apellido" value="0" class="form-control" type="text"
                                        th:field="*{apellido}">
                                </div>
                            </div>
                        </div>



                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">DNI</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="dni" value="0" class="form-control" type="number" th:field="*{dni}">
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Fecha de Nacimiento</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="fecha_nacimiento" value="" class="form-control" type="date"
                                        th:field="*{fechaNacimiento}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Franja Horaria</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="franja_horaria" value="" class="form-control" type="text"
                                        th:field="*{franjaHoraria}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">0 Gerente / 1 Vendedor</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="tipo_empleado" value="" class="form-control" type="text"
                                        th:field="*{tipoEmpleado}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Local</label>
                            <div class="col-md-4 selectContainer">
                                <div class="input-group">
                                    <select name="local" class="form-control selectpicker" th:field="*{idLocal}">
                                        <option th:each="local : ${locales}" th:value="${local.idLocal}"
                                            th:text="${local.direccion}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-4"><br>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button
                                    type="submit"
                                    class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspACTUALIZAR&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div><!-- /.container -->
    </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <th:block th:include="fragments/bottom :: bottom"></th:block>
</body>

</html>