<!DOCTYPE html>
<html lang="en">

<th:block th:include="fragments/head :: head"></th:block>

<body>

	<div class="d-flex" id="wrapper">

		<th:block th:include="fragments/sidebar :: sidebar"></th:block>

		<!-- Page Content -->
		<div id="page-content-wrapper">

			<th:block th:include="fragments/navbar :: navbar"></th:block>

			<section id="tabs" class="list-tab">

				<div class="container">

					<div class="row">
						<div class="col-md-12">
							<div class="tab-content" id="nav-tabContent">
								<div class="tab-pane fade show active" id="nav-home" role="tabpanel"
									aria-labelledby="nav-home-tab">
									<table class="table" cellspacing="0">
										<thead>
											<tr>
												<th>Producto</th>
												<th>Cantidad</th>
												<th>Local</th>
												<th>Cliente</th>
												<th>VendedorOriginal</th>
												<th>VendedorAuxiliar</th>
												<th>Fecha</th>
												<th>Estado</th>
												<th>Gestion</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="pedido : ${pedidos}">
												<!-- https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#simple-conditionals-if-and-unless -->
												<td><span th:text="${pedido.producto.nombre}" /></td>
												<td><span th:text="${pedido.cantidad}" /></td>
												<td><span th:text="${pedido.local.direccion}" /></td>
												<td><span th:text="${pedido.cliente.dni}" /></td>
												<td><span th:text="${pedido.vendedorOriginal.dni}" /></td>
												<td><span th:if="${pedido.vendedorAuxiliar !=null}"
														th:text="${pedido.vendedorAuxiliar.dni}" /></td>
												<td><span th:text="${pedido.fecha}" /></td>
												<td><span th:text="${pedido.estado}" /></td>
												<td>
													<form th:if="${pedido.estado} == 2" class="form-pedido-handle">
														<div class="form_group">
															<input type="hidden" name="idPedido"
																th:value="${pedido.idPedido}" />
														</div>
														<input class="btn btn-warning" type="submit" value="Ver" />
													</form>
												</td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>

					<div class="modal fade" id="modalPedidoHandle" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header text-center">
									<h4 class="modal-title w-100 font-weight-bold">Seleccione una opcion</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<form id="form-pedido-update" method="post">
									<div class="modal-body mx-3">

										<div class="form_group">
											<input name="idPedido" type="hidden" id="idPedido" />
										</div>

										<div class="form-group">
											<label class="col-md-4 control-label">Accion</label>
											<div class="col-md-4 selectContainer">
												<div style="width: 300%" class="input-group">
													<select id="estado" name="estado" class="form-control selectpicker">
														<option value="0"> Rechazar </option>
														<option value="1"> Aceptar </option>
													</select>
												</div>
											</div>
										</div>

										<div class="form_group">
											<input name="idProducto" type="hidden" id="idProducto" value="" />
										</div>

										<div class="form_group">
											<input name="idCliente" type="hidden" id="idCliente" value="" />
										</div>

										<div class="form_group">
											<input name="idLocal" type="hidden" id="idLocal" value="" />
										</div>

										<div class="form_group">
											<input name="idVendedorOriginal" type="hidden" id="idVendedorOriginal"
												value="" />
										</div>

										<div class="form_group">
											<input name="idVendedorAuxiliar" type="hidden" id="idVendedorAuxiliar"
												value="" />
										</div>

										<div class="form_group">
											<input name="cantidad" type="hidden" id="cantidad" value="" />
										</div>

										<div class="form_group">
											<input name="fecha" type="hidden" id="fecha" value="" />
										</div>

										<div class="modal-footer d-flex justify-content-center">
											<button type="submit" class="btn btn-info">Aceptar</button>
											<a id="submit-cancel" data-dismiss="modal"
												class="btn btn-danger">Cancelar</a>
										</div>
								</form>
							</div>
						</div>
					</div>

				</div>
				<!--container-->

				<div class="container">
					<div class="modal fade" id="modalPedidoResult" tabindex="-1" role="dialog"
						aria-labelledby="myModalLabel2" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header text-center">
									<h4 class="modal-title w-100 font-weight-bold">Atencion</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body mx-3">
									<div id="feedback" class="" role="alert">
									</div>
								</div>
								<div class="modal-footer d-flex justify-content-center">
									<a data-dismiss="modal" class="btn btn-info">Aceptar</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<th:block th:include="fragments/bottom :: bottom"></th:block>
	<script type="text/javascript" src="/js/auth/Pedido.js"></script>
</body>

</html>