<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:include="fragments/head :: head"></th:block>
</head>


<body>

    <div class="d-flex" id="wrapper">

        <th:block th:include="fragments/sidebar_clientes :: sidebar_clientes"></th:block>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <th:block th:include="fragments/navbar :: navbar"></th:block>

            <div class="container">

                <form class="well form-horizontal" action="#" th:action="@{/pedido/send}" th:object="${pedido}"
                    method="post" id="contact_form">
                    <fieldset>

                        <div class="form_group">
                            <input type="hidden" th:field="*{idCliente}" />
                        </div>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Producto</label>
                            <div class="col-md-4 selectContainer">
                                <div class="input-group">
                                    <select name="producto" class="form-control selectpicker" th:field="*{idProducto}">
                                        <option value="0"> -- </option>
                                        <option th:each="producto : ${productos}" th:value="${producto.idProducto}"
                                            th:text="${producto.nombre + '  $' + producto.precio}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Cantidad</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="cantidad" value="0" class="form-control" type="number"
                                        th:field="*{cantidad}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Local</label>
                            <div class="col-md-4 selectContainer">
                                <div class="input-group">
                                    <select name="local" class="form-control selectpicker" th:field="*{idLocal}">
                                        <option th:each="local : ${locales}" th:value="${local.idLocal}"
                                            th:text="${local.direccion}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-4"><br>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button
                                    type="submit"
                                    class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspENVIAR&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>

            <div th:if="${result != null}" class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Pedido</h2>
                        <div style="float: left; margin-right: 20px">
                            <p style="display:inline-block"><b th:text="${result}"></b></p>
                            <p style="display:inline-block" th:if="${total != null}"><b th:text="${total}"></b>$ARS.</p>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>

        </div><!-- /.container -->


    </div>
    <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <th:block th:include="fragments/bottom :: bottom"></th:block>
</body>

</html>