<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:include="fragments/head :: head"></th:block>
</head>


<body>

    <div class="d-flex" id="wrapper">

        <th:block th:include="fragments/sidebar :: sidebar"></th:block>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <th:block th:include="fragments/navbar :: navbar"></th:block>

            <div class="container">

                <div class="form">

                    <form class="well form-horizontal" action="#" th:action="@{/pedido/send}" th:object="${pedido}"
                        method="post" id="contact_form">
                        <fieldset>

                            <div class="form_group">
                                <input type="hidden" th:field="*{idCliente}" />
                            </div>

                            <!-- Text input-->

                            <div class="form-group">
                                <label class="col-md-4 control-label">Producto</label>
                                <div class="col-md-4 selectContainer">
                                    <div style="width: 300%" class="input-group">
                                        <select name="producto" class="form-control selectpicker"
                                            th:field="*{idProducto}">
                                            <option value="0"> -- </option>
                                            <option th:each="producto : ${productos}" th:value="${producto.idProducto}"
                                                th:text="${producto.nombre + '  $' + producto.precio}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- Text input-->

                            <div class="form-group">
                                <label class="col-md-4 control-label">Cantidad</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div style="width: 300%" class="input-group">
                                        <input name="cantidad" value="0" class="form-control" type="number"
                                            th:field="*{cantidad}">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Local</label>
                                <div class="col-md-4 selectContainer">
                                    <div style="width: 300%" class="input-group">
                                        <select id="local" name="local" class="form-control selectpicker"
                                            th:field="*{idLocal}">
                                            <option value="0"> -- </option>

                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Vendedor</label>
                                <div class="col-md-4 selectContainer">
                                    <div style="width: 300%" class="input-group">
                                        <select id="vendedorOriginal" name="vendedorOriginal"
                                            class="form-control selectpicker" th:field="*{idVendedorOriginal}">
                                            <option value="0"> -- </option>

                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-4"><br>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button
                                        type="submit"
                                        class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspENVIAR&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>

            </div>

            <div th:if="${result != null}" class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Pedido</h2>
                        <div style="float: left; margin-right: 20px">
                            <p style="display:inline-block"><b th:text="${result}"></b></p>
                            <p style="display:inline-block" th:if="${total != null}"><b th:text="${total}"></b>$ARS.</p>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>

        </div><!-- /.container -->


    </div>
    <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <th:block th:include="fragments/bottom :: bottom"></th:block>

    <script type="text/javascript">
        //https://stackoverflow.com/questions/14661508/jquery-select-changes-another-select
        $(document).ready(function () {
            // Pedir todos los locales cuando carga la vista
            $.ajax({
                url: "/api/local/getLocales",
                type: "GET",
                success: function (data) {
                    var locales = data;
                    if (typeof (data) == "string") {
                        locales = JSON.parse(data);
                    }
                    $.each(locales, function (index, local) {
                        $("#local").append($("<option></option>", { "value": local.idLocal, "text": local.direccion }));
                    });
                },
                error: function (result) {
                    console.log(["error getting locales", result]);
                }
            });

            // cuando cambio de local, pide los empleados de aquel local
            $("#local").change(function () {

                $.ajax({
                    url: "/api/empleado/getEmpleados/" + $("#local").val(),
                    type: 'GET',
                    success: function (data) {
                        var empleados = data;
                        if (typeof (data) == "string") {
                            empleados = JSON.parse(data);
                        }
                        $("#vendedorOriginal").empty();
                        $.each(empleados, function (index, empleado) {
                            $("#vendedorOriginal").append($("<option></option>",
                            { "value": empleado.idPersona, "text": empleado.nombre + " " + empleado.apellido }));
                        })
                    },
                    error: function (result) { console.log(["error", result]); },
                });
            });
        });
    </script>
</body>

</html>