<!DOCTYPE html>
<html lang="en">

<th:block th:include="fragments/head :: head"></th:block>

<body>

  <div class="d-flex" id="wrapper">

    <th:block th:include="fragments/sidebar_clientes :: sidebar_clientes"></th:block>

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <th:block th:include="fragments/navbar :: navbar"></th:block>

      <section id="tabs" class="list-tab">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <table class="table" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Email</th>
                        <th>-</th>
                        <th>-</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="cliente : ${clientes}">
                        <td><span th:text="${cliente.nombre}" /></td>
                        <td><span th:text="${cliente.apellido}" /></td>
                        <td><span th:text="${cliente.dni}" /></td>
                        <td><span th:text="${cliente.email}" /></td>
                        <td>
                          <a th:href="@{/cliente/{id}(id=${cliente.idPersona})}">Ver</a>
                        </td>
                         <td>         
                     </form>
						<form action="#" th:action="@{/cliente/remove/{id}(id=${cliente.idPersona})}" method="post">
						<input type="submit" value="Eliminar"/>
					</form>
                   </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>


    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <th:block th:include="fragments/bottom :: bottom"></th:block>

</body>

</html>