<!DOCTYPE html>
<html lang="en">
  <th:block th:include="fragments/head :: head"></th:block>

  <body>
    <div class="d-flex" id="wrapper">
      <th:block th:include="fragments/sidebar :: sidebar"></th:block>

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <th:block th:include="fragments/navbar :: navbar"></th:block>

        <section id="tabs" class="list-tab">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="tab-content" id="nav-tabContent">
                  <div
                    class="tab-pane fade show active"
                    id="nav-home"
                    role="tabpanel"
                    aria-labelledby="nav-home-tab"
                  >
                    <table class="table" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Direccion</th>
                          <th>Telefono</th>
                          <th>
                            <img
                              src="/assets/bootstrap-icons/pencil-square.svg"
                              alt=""
                              width="90"
                              height="20"
                              title="Modificar"
                            />
                          </th>

                          <th>
                            <img
                              src="/assets/bootstrap-icons/box-seam.svg"
                              alt=""
                              width="90"
                              height="20"
                              title="Stock"
                            />
                          </th>

                          <th>
                            <img
                              src="/assets/bootstrap-icons/trash.svg"
                              alt=""
                              width="80"
                              height="20"
                              title="Eliminar"
                            />
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="local : ${locales}">
                          <td><span th:text="${local.direccion}" /></td>
                          <td><span th:text="${local.telefono}" /></td>
                          <td>
                            <a
                              class="btn btn-info"
                              th:href="@{/local/{id}(id=${local.idLocal})}"
                              >Modificar</a
                            >
                          </td>
                          <td>
                            <a
                              class="btn btn-info"
                              th:href="@{/stock/{id}(id=${local.idLocal})}"
                              >Ver Stock</a
                            >
                          </td>
                          <td>
                            <form class="form-local-remove">
                              <div class="form_group">
                                <input
                                  type="hidden"
                                  name="idLocal"
                                  th:value="${local.idLocal}"
                                />
                              </div>
                              <input
                                class="btn btn-danger"
                                type="submit"
                                value="Eliminar"
                              />
                            </form>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <th:block th:include="fragments/bottom :: bottom"></th:block>
    <script type="text/javascript" src="/js/auth/Local.js"></script>
  </body>
</html>
