<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:include="fragments/head :: head"></th:block>
</head>


<body>

    <div class="d-flex" id="wrapper">
        
        <th:block th:include="fragments/sidebar :: sidebar"></th:block>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <th:block th:include="fragments/navbar :: navbar"></th:block>

            <div class="container">
            	<div class="form">
                  <form class="well form-horizontal" action="#" th:action="@{/local/create}" th:object="${local}"
                    method="post" id="contact_form">
                     <fieldset>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Direccion</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="direccion" placeholder="Direccion" class="form-control" type="text"
                                        th:field="*{direccion}">
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Latitud</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="latitud" value="0" class="form-control" type="number"
                                        th:field="*{latitud}">
                                </div>
                            </div>
                        </div>



                        <!-- Text input-->

                        <div class="form-group">
                          <label class="col-md-4 control-label">Longitud</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="longitud" value="0" class="form-control" type="number"
                                        th:field="*{longitud}">
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->

                        <div class="form-group">
                           <label class="col-md-4 control-label">Telefono</label>
                             <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="telefono" value="" class="form-control" type="number"
                                        th:field="*{telefono}">
                                </div>
                            </div>
                        </div>


                        <!-- Button -->
                        <div class="form-group">
                          <label class="col-md-4 control-label"></label>
                            <div class="col-md-4"><br>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button
                                    type="submit"
                                     class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCREAR&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                            </div>
                        </div>
                        
                  </fieldset>
                </form>
            </div>
            <!-- /ClassForm -->
          </div>
          <!-- /.container -->
        </div>
        <!-- /#page-content-wrapper -->
    </div> 
    <!-- /#wrapper -->

    <th:block th:include="fragments/bottom :: bottom"></th:block>
</body>

</html>