<!DOCTYPE html>
    <html lang="en">

        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta name="description" content="" />
            <meta name="author" content="" />

            <title>Locales - Crear</title>

            <!-- Bootstrap core CSS -->
            <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

            <!-- Custom styles for this template -->
            <link href="css/simple-sidebar.css" rel="stylesheet" />
        </head>

        <body>
            <div class="d-flex" id="wrapper">
                <!-- Sidebar -->
                <div class="bg-light border-right" id="sidebar-wrapper">
                    <div class="sidebar-heading">Start Bootstrap</div>
                    <div class="list-group list-group-flush">
                        <a href="/local/new" class="list-group-item list-group-item-action bg-light">Crear</a>
                    </div>
                </div>

                <!-- /#sidebar-wrapper -->

                <!-- Page Content -->
                <div id="page-content-wrapper">
                    <div>
                        <form action="#" th:action="@{/local/create}" th:object="${local}" method="post">
                            <p>Direccion: <input type="text" th:field="*{direccion}" /></p>
                            <p>Latitud: <input type="number" th:field="*{latitud}" /></p>
                            <p>Longitud: <input type="number" th:field="*{longitud}" /></p>
                            <p>telefono: <input type="number" th:field="*{telefono}" /></p>
                            <input type="submit" value="crear" />
                        </form>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->
            </div>
            <!-- /#wrapper -->

            <!-- Bootstrap core JavaScript -->
            <script src="vendor/jquery/jquery.min.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Menu Toggle Script -->
            <script>
                $("#menu-toggle").click(function (e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                });
            </script>
        </body>

    </html>