<!DOCTYPE html>
<html lang="en">

<th:block th:include="fragments/head :: head"></th:block>

<body>
    <div class="d-flex" id="wrapper">

        <th:block th:include="fragments/sidebar :: sidebar"></th:block>

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <th:block th:include="fragments/navbar :: navbar"></th:block>

            <div class="container">

                <div class="form">
                    <form class="well form-horizontal" th:object="${local}" id="form-local-update">
                        <fieldset>
                            <div style="width: 300%" class="form_group">
                                <input type="hidden" th:field="*{idLocal}" />
                            </div>
                            <!-- Text input-->

                            <div class="form-group">
                                <label class="col-md-4 control-label">Direccion</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div style="width: 300%" class="input-group">
                                        <input id="direccion" name="direccion" class="form-control" type="text"
                                            th:field="*{direccion}">
                                    </div>
                                </div>
                            </div>

                            <!-- Text input-->

                            <div class="form-group">
                                <label class="col-md-4 control-label">Latitud</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div style="width: 300%" class="input-group">
                                        <input id="latitud" name="latitud" class="form-control" type="text" th:field="*{latitud}">
                                    </div>
                                </div>
                            </div>

                            <!-- Text input-->

                            <div class="form-group">
                                <label class="col-md-4 control-label">Longitud</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div style="width: 300%" class="input-group">
                                        <input id="longitud" name="longitud" class="form-control" type="text" th:field="*{longitud}">
                                    </div>
                                </div>
                            </div>

                            <!-- Text input-->

                            <div class="form-group">
                                <label class="col-md-4 control-label">Telefono</label>
                                <div class="col-md-4 inputGroupContainer">
                                    <div style="width: 300%" class="input-group">
                                        <input id="telefono" name="telefono" class="form-control" type="text" th:field="*{telefono}">
                                    </div>
                                </div>
                            </div>


                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-4"><br>
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button
                                        type="submit"
                                        class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspACTUALIZAR&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                                </div>
                            </div>
                            <div id="feedback">
                                <br>
                                <div class="" role="alert">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div><!-- /.container -->
    </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <th:block th:include="fragments/bottom :: bottom"></th:block>
    <script type="text/javascript" src="/js/auth/Local.js"></script>
</body>

</html>