<!DOCTYPE html>
<html lang="en">

<th:block th:include="fragments/head :: head"></th:block>

<body>
    <div class="d-flex" id="wrapper">
    
        <th:block th:include="fragments/sidebar :: sidebar"></th:block>

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <th:block th:include="fragments/navbar :: navbar"></th:block>

            <div class="container">

                <form class="well form-horizontal" action="#" th:action="@{/local/update}" th:object="${local}"
                    method="post" id="contact_form">
                    <fieldset>
                        <div class="form_group">
                            <input type="hidden" th:field="*{idLocal}" />
                        </div>
                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Direccion</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="direccion" class="form-control" type="text" th:field="*{direccion}">
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Latitud</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="latitud" class="form-control" type="number" th:field="*{latitud}">
                                </div>
                            </div>
                        </div>



                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Longitud</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="longitud" class="form-control" type="number" th:field="*{longitud}">
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Telefono</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <input name="telefono" class="form-control" type="number" th:field="*{telefono}">
                                </div>
                            </div>
                        </div>


                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-4"><br>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button
                                    type="submit"
                                    class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspACTUALIZAR&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div><!-- /.container -->
    </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <th:block th:include="fragments/bottom :: bottom"></th:block>
</body>

</html>