<div th:fragment="navbar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li>
          <div class="btn-group">
            <button
              id="userActionButton"
              type="button"
              class="btn btn-info dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span  class="ui-button-text"></span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Mi perfil</a>
              <a class="dropdown-item" href="#">placeholder</a>
              <a class="dropdown-item" href="#">placeholder</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/requestLogout">Log out</a>
            </div>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/index">
            <img
              src="/assets/bootstrap-icons/house.svg"
              alt=""
              width="70"
              height="20"
            />
          </a>
        </li>
      </ul>
    </div>
    <script type="text/javascript">
      $(document).ready(function () {
        $.ajax({
          url: "/api/user/getLoggedUser",
          type: "GET",
          success: function (data) {
            var user = data;

            $("#userActionButton > span").html(user.username);
          },
          error: function (result) {
            console.log(["error getting user", result]);
          },
        });
      });
    </script>
  </nav>
</div>
