<div th:fragment="sidebar_locales">
	<!-- Sidebar -->
		<div class="bg-light border-right" id="sidebar-wrapper">
			<div class="sidebar-heading">Locales</div>
			<div class="list-group list-group-flush">
				<a href="/" class="list-group-item list-group-item-action bg-light">Dashboard</a>
				<a href="/local" class="list-group-item list-group-item-action bg-light">Lista</a>
				<a href="/local/new" class="list-group-item list-group-item-action bg-light">Crear</a>
				<a href="/local/distance" class="list-group-item list-group-item-action bg-light">Calcular Distancia</a>
			</div>
		</div>
		<!-- /#sidebar-wrapper -->
</div>