<!DOCTYPE html>
<html lang="en">

  <th:block th:include="fragments/head :: head"></th:block>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Dashboard</div>
      <div class="list-group list-group-flush">
        <a href="/local" class="list-group-item list-group-item-action bg-light">Locales</a>
        <a href="/empleado" class="list-group-item list-group-item-action bg-light">Empleados</a>
         <a href="/cliente" class="list-group-item list-group-item-action bg-light">Clientes</a>

      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <th:block th:include="fragments/navbar :: navbar"></th:block>

    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <th:block th:include="fragments/bottom :: bottom"></th:block>

</body>

</html>
