<!DOCTYPE html>
<html lang="en">
	<th:block th:include="fragments/head :: head"></th:block>
  <body>
    <!-- Navigation -->
    <th:block th:include="fragments/navbar :: navbar"></th:block>
	<!-- Page Content -->
    <div class="container">
    	<!-- Page Heading/Breadcrumbs -->
	    <h1 class="mt-4 mb-3">403
	       <small>Yu don't have permissions</small>
	    </h1>
	    <ol class="breadcrumb">
	       <li class="breadcrumb-item">
	         <a href="/index">Home</a>
	    	</li>
	        <li class="breadcrumb-item active">403</li>
	    </ol>
	    <div class="jumbotron">
	       <h1 class="display-1">403</h1>
	    </div>
	    <!-- /.jumbotron -->
    </div>
	<!-- /.container -->
	<!-- Footer -->
	<th:block th:include="fragments/bottom :: bottom"></th:block>
	</body>
</html>
