<!DOCTYPE html>
<html lang="en">
  <th:block th:include="fragments/head :: head"></th:block>
  <body>
    <!-- Navigation -->
    <th:block th:include="fragments/navbar :: navbar"></th:block>
    <!-- Page Content -->
    <div class="container">
      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">404
        <small>Page Not Found</small>
      </h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/index">Home</a>
        </li>
        <li class="breadcrumb-item active">404</li>
      </ol>
      <div class="jumbotron">
        <h1 class="display-1">404</h1>
      </div>
      <!-- /.jumbotron -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <th:block th:include="fragments/bottom :: bottom"></th:block>
  </body>
</html>
