<!DOCTYPE html>
<html lang="en">
  <th:block th:include="fragments/head :: head"></th:block>

  <body>
    <div class="d-flex" id="wrapper">
      <th:block th:include="fragments/sidebar :: sidebar"></th:block>

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <th:block th:include="fragments/navbar :: navbar"></th:block>

        <div class="container">
          <div class="form">
            <form class="well form-horizontal" id="form-producto-create">
              <fieldset>
                <!-- Text input-->

                <div class="form-group">
                  <label class="col-md-4 control-label">Nombre</label>
                  <div class="col-md-4 inputGroupContainer">
                    <div style="width: 300%;" class="input-group">
                      <input
                        id="nombre"
                        name="nombre"
                        placeholder="Nombre"
                        class="form-control"
                        type="text"
                      />
                    </div>
                  </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                  <label class="col-md-4 control-label">Descripcion</label>
                  <div class="col-md-4 inputGroupContainer">
                    <div style="width: 300%;" class="input-group">
                      <input
                        id="descripcion"
                        name="descripcion"
                        placeholder="Descripcion"
                        class="form-control"
                        type="text"
                      />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label">Precio</label>
                  <div class="col-md-4 inputGroupContainer">
                    <div style="width: 300%;" class="input-group">
                      <input
                        id="precio"
                        name="precio"
                        placeholder="Precio"
                        class="form-control"
                        type="number"
                        value="0"
                      />
                    </div>
                  </div>
                </div>
                <!-- Text input-->

                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label"></label>
                  <div class="col-md-4">
                    <br />
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button
                      type="submit"
                      class="btn btn-warning"
                    >
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCREAR&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </button>
                  </div>
                </div>
                <div id="feedback">
                  <br />
                  <div class="" role="alert"></div>
                </div>
              </fieldset>
            </form>
          </div>
          <!-- /ClassForm -->
        </div>
        <!-- /.container -->
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <th:block th:include="fragments/bottom :: bottom"></th:block>
    <script type="text/javascript" src="/js/auth/Producto.js"></script>
  </body>
</html>
