<!DOCTYPE html>
<html lang="en">

<th:block th:include="fragments/head :: head"></th:block>

<body>

  <div class="d-flex" id="wrapper">

    <th:block th:include="fragments/sidebar :: sidebar"></th:block>

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <th:block th:include="fragments/navbar :: navbar"></th:block>

      <section id="tabs" class="list-tab">

        <div class="container">

          <div class="row">

            <div class="col-md-12">

              <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <table class="table" cellspacing="0">
                    <thead>

                      <tr>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                      </tr>

                    </thead>

                    <tbody id="producto-rows">

                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="modal fade" id="modalFechas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">Seleccione dos fechas...</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="form-producto-getEntreFechas" method="post">
              <div class="modal-body mx-3">

                <div class="form-group">
                  <label class="col-md-4 control-label">Fecha 1</label>
                  <div class="col-md-4 inputGroupContainer">
                    <div style="width: 300%" class="input-group">
                      <input name="fecha1" class="form-control" type="date" id="fecha1">
                    </div>
                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label">Fecha 2</label>
                  <div class="col-md-4 inputGroupContainer">
                    <div style="width: 300%" class="input-group">
                      <input name="fecha2" class="form-control" type="date" id="fecha2">
                    </div>
                  </div>
                </div>

                <div class="modal-footer d-flex justify-content-center">
                  <button type="submit" class="btn btn-info">Aceptar</button>
                  <a id="submit-cancel" data-dismiss="modal" class="btn btn-danger">Cancelar</a>
                </div>
            </form>
          </div>
        </div>
      </div>


    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <th:block th:include="fragments/bottom :: bottom"></th:block>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#modalFechas").modal('show');

      $("#form-producto-getEntreFechas").submit(function (e) {
        e.preventDefault();

        var dateModels = {};

        dateModels["fecha1"] = $("#fecha1").val();
        dateModels["fecha2"] = $("#fecha2").val();

        submitFechas(dateModels);
        $("#modalFechas").modal('hide');
      });

      function submitFechas(dateModels) {

        $.ajax({
        url: "/api/producto/getProductosEntreFechas",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(dateModels),
        cache: false,
        success: function (data) {
          var productos = data;
          if (typeof data == "string") {
            productos = JSON.parse(data);
          }
          $.each(productos, function (index, producto) {
            $("#producto-rows").append(
              $("<tr></tr>").append(
                $("<td></td>").append(
                  $("<span></span>", { text: producto.nombre })
                ),
                $("<td></td>").append(
                  $("<span></span>", { text: producto.cantidad })
                ),
              )
            );
          });
        },
        error: function (result) {
          console.log(["error getting productos", result]);
        },
      });
      }
    });
  </script>
</body>

</html>