.list-tab {
    padding: 10%;
    margin-top: -8%;
}
.list-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.list-tab #tabs h6.section-title{
    color: #eee;
}
.list-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.list-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
.list-tab .nav-link:hover {
    border: none;
}
.list-tab thead{
    background: #f3f3f3;
    color: #333;
}
.list-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.greenbg{
	background-color:  #006907  
	
}
.redbg{
	background-color: #a61c1c
	
}
.yellowbg{
	background-color: #a6a307
	
}