<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:include="fragments/head :: head"></th:block>
    <link href="/css/login-style.css" rel="stylesheet" />
  </head>
  <body class="my-login-page">
    <section class="h-100">
      <div class="container h-100">
        <div class="row justify-content-md-center h-100">
          <div class="card-wrapper">
            <div class="brand">
              <img
                src="/assets/DashBoardImages/universidad_nacional_de_lan--s.png"
                alt="logo"
              />
            </div>
            <div class="card fat">
              <div class="card-body">
                <h4 class="card-title">Registro</h4>
                <form
                  th:object="${cliente}"
                  th:action="@{/registration}"
                  method="POST"
                  class="my-login-validation"
                  novalidate=""
                >
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input
                      th:field="*{nombre}"
                      id="nombre"
                      class="form-control"
                      name="nombre"
                      value=""
                      required
                      autofocus
                    />
                    <div class="invalid-feedback">
                      Name is invalid
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input
                      th:field="*{apellido}"
                      id="apellido"
                      class="form-control"
                      name="apellido"
                      value=""
                      required
                      autofocus
                    />
                    <div class="invalid-feedback">
                      Surname is invalid
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="dni">DNI</label>
                    <input
                      th:field="*{dni}"
                      id="dni"
                      class="form-control"
                      name="dni"
                      value=""
                      required
                      autofocus
                    />
                    <div class="invalid-feedback">
                      DNI is invalid
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="email">Email</label>
                    <input
                      th:field="*{email}"
                      id="email"
                      type="email"
                      class="form-control"
                      name="username"
                      value=""
                      required
                      autofocus
                    />
                    <div class="invalid-feedback">
                      Email is invalid
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="username">Nombre de Usuario</label>
                    <input
                      th:field="*{username}"
                      id="username"
                      type="username"
                      class="form-control"
                      name="username"
                      value=""
                      required
                      autofocus
                    />
                    <div class="invalid-feedback">
                      Username is invalid
                    </div>
                  </div>

                  <div class="form-group">
                    <input
                      th:field="*{password}"
                      id="password"
                      type="password"
                      class="form-control"
                      name="password"
                      placeholder="Contraseña"
                      required
                      data-eye
                    />
                    <div class="invalid-feedback">
                      Password is required
                    </div>
                  </div>

                  <div class="form-group">
                    <input
                      th:field="*{passwordConfirm}"
                      id="passwordConfirm"
                      type="password"
                      class="form-control"
                      name="passwordConfirm"
                      placeholder="Confirmar contraseña"
                      required
                      data-eye
                    />
                    <div class="invalid-feedback">
                      Confirm password
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="custom-checkbox custom-control">
                      <input
                        type="checkbox"
                        name="remember"
                        id="remember"
                        class="custom-control-input"
                      />
                      <label for="remember" class="custom-control-label"
                        >Remember Me</label
                      >
                    </div>
                  </div>

                  <div class="form-group m-0">
                    <button type="submit" class="btn btn-primary btn-block">
                        Registrarme
                    </button>
                  </div>
                  <div class="mt-4 text-center">
                    Already have an account? <a href="/login">Sign in</a>
                  </div>
                </form>
              </div>
            </div>
            <div class="footer">
              Copyright &copy; 2020 &mdash; Grupo 2
            </div>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/js/log-in.js"></script>
  </body>
</html>
