<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<!--MODIFICAR -->
		<property name="connection.url">jdbc:mysql://localhost/Grupo-2-BDD-OO2-2020</property>
		<!--MODIFICAR -->
		<property name="connection.username">root</property>
		<!--MODIFICAR -->
		<property name="connection.password">root</property>
		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">false</property>
		<!-- en true muestra hql en consola -->
		<!--Mapeo Entidades -->
		<!--MODIFICAR -->
		<mapping resource="mapeos/Producto.hbm.xml"/>
		<mapping resource="mapeos/Persona.hbm.xml"/>
		<mapping resource="mapeos/Local.hbm.xml"/>
		<mapping resource="mapeos/Stock.hbm.xml"/>
		<mapping resource="mapeos/SolicitudStock.hbm.xml"/>
		<mapping resource="mapeos/Factura.hbm.xml"/>
		<mapping resource="mapeos/Lote.hbm.xml"/>
		<mapping resource="mapeos/Pedido.hbm.xml"/>

	</session-factory>
</hibernate-configuration>
