<!DOCTYPE html>
<html lang="en">

<th:block th:include="fragments/head :: head"></th:block>

<body>

	<div class="d-flex" id="wrapper">

		<th:block th:include="fragments/sidebar_lotes :: sidebar_lotes"></th:block>

		<!-- Page Content -->
		<div id="page-content-wrapper">

			<th:block th:include="fragments/navbar :: navbar"></th:block>

			<section id="tabs" class="list-tab">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="tab-content" id="nav-tabContent">
								<div class="tab-pane fade show active" id="nav-home" role="tabpanel"
									aria-labelledby="nav-home-tab">
									<table class="table" cellspacing="0">
										<thead>
											<tr>
												<th>Cantidad Inicial</th>
												<th>Cantidad Actual</th>
												<th>Producto</th>
												<th>-</th>
												
											</tr>
										</thead>
										<tbody>
											<tr th:each="lote : ${lotes}">
												<td><span th:text="${lote.cantidadInicial}" /></td>
												<td><span th:text="${lote.cantidadActual}" /></td>
												<td><span th:text="${lote.producto.nombre}" /></td>
												  <td>         
                     								</form>
														<form action="#" th:action="@{/lote/remove/{id}(id=${lote.idLote})}" method="post">
														<input type="submit" value="Eliminar"/>
													</form>
                  								 </td>
                  								
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
				</div>
			</section>

		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<th:block th:include="fragments/bottom :: bottom"></th:block>

</body>

</html>